# Deployment safety-net
# Required for contract deployment
CHAIN_ID=4

# Required for contract deployment
PROVIDER_URL=

# Deployer and initial owner()
# Required for contract deployment
OWNER_ADDRESS=
OWNER_PRIVATE_KEY=

# Constructor args
# Required for contract deployment
INIT_TOKEN_METADATA_URI_TEMPLATE=
INIT_PLATFORM_FEE_RATE=
INIT_PLATFORM_FEE_BENEFICIARY=
INIT_CONTRACT_URI=

# Required for Graph deployment
DOUBLEDICE_CONTRACT_NETWORK=
DOUBLEDICE_CONTRACT_ADDRESS=
DOUBLEDICE_CONTRACT_START_BLOCK=
GRAPH_HELPER_ADDRESS=

# Optional for contract deployment: Deployment of GraphHelper will be skipped if this var is set to true|yes|1
SKIP_DEPLOY_GRAPH_HELPER=

# Required for contract upgrade
DOUBLEDICE_PROXY_ADMIN_ADDRESS=

# Optional for contract deployment: If each of these vars are set,
# corresponding ERC-20 contract will not be deployed,
# and DoubleDice contract will be configured with these payment-tokens.
DEPLOYED_USDC_ADDRESS=
DEPLOYED_WBTC_ADDRESS=
